body{text-align: center}

h2{color: #5e78da; text-transform: uppercase; font-family: "Papyrus", fantasy;}
h3{color:#364a94; font-family: "Papyrus", fantasy;}
p {font-family: "Papyrus", fantasy;}

a{color:#6d84dd; font-style: italic; font-family: "Papyrus", fantasy; }